<div class = 'board'>
    <% @posts.each do |post| %>
        <div>
            <p>
                <%= post.body %>
            </p>
            <% if user_signed_in? %>
                <span>by: <%= post.author %></span>
            <% end %>
        </div>
    <% end %>
</div>